body{
  margin: 0;
}

.body{
  display: flex;
}
.nav-bar{
  text-align: center;
  position: fixed;
  width: 10%;
}
.nav-bar h2{
  font-size: 1.5rem;
  padding: 10px;
  font-family: 'Cookie', cursive;
}
.nav-bar button{
  padding: 10px;
}
.active{
  background: black;
  color: white;

}
.nav-bar ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0;
}
.nav-bar li{
  margin: 10px 0;
  padding: 10px 0;
}
img {
  max-width: 100%;
  display: block;

}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  position: relative;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
  filter: grayscale(100%);
}
figure:hover > img {
  filter: none;
}
figure:hover .img-overlay {
  display: block;
}
figure:hover .img-action {
  display: block;
}
figure:hover .img-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-action{
  display: none;
  z-index:1;
}
.img-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.705);
  transition: background 0.5s ease;
  display: none;
}
.img-desc{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
  z-index:1;
  display: none;
}

.gallery-container{
  column-count: 4;
  column-gap: 10px;
  width: 90%;
  position: absolute;
  right: 0;
  top: 10px;
}
.social-icons{
  display: none;
}
figure:hover .social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  margin: 0 5px;
  z-index: 1;
  position: absolute;
  bottom: 7px;
  right: 15px;
  font-size: 1.5rem;
  padding: 5px;
  background: white;
}
figure:hover .view-icon{
  display: block;
}
.social-icons i{
 margin:0 5px;
}
.edit-icon{
  position: absolute;
  color: #fde881;
  top: 15px;
  left: 15px;
  font-size: 2rem;
}
.delete-icon {
    position: absolute;
    color: #fd8181;
    top: 15px;
    right: 15px;
    font-size: 2rem;
}
.view-icon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color:white;
    font-size: 2rem;
    display: none;
    z-index: 1;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-title{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2px;
}
.modal-content {
  background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20vw;
    height: 30vh;
}
.modal-view{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-view img{
  width: 60%;
}
form{
  padding: 10px;
}
.form-container{
  margin: 10px;
    display: flex;
    justify-content: space-evenly;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.add-new{
  width: 400px;
  height: 400px;
  border: 1px solid #cecece;
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.add-new i{
  font-size: 3rem;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
i.fa.fa-facebook{
  color:#508cff;
}
i.fa.fa-twitter{
  color: rgb(28,156,234);
}
i.fa.fa-linkedin{
  color: #0A66C2;
}
i.fa.fa-heart.favorite{
  color: #fd0732;
  transition: all 0.3ms ease-out;
}
.no-image{
  display: block;
  text-align: center;
  font-size: 4rem;
  color: #868686;
  position: absolute;
  right: 30%;
}
.upload-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
}
.upload-image label{
  margin:10px 0;
}
.upload-image input[type="file"]{
  visibility: hidden;
}
